[mysqld]
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
basedir = /usr/local/mysql
datadir = /usr/local/mysql/data
log-error = /usr/local/mysql/log/error.log
tmpdir = /tmp
default-storage-engine = INNODB
character-set-server = utf8mb4
port = 3306
bind-address = 0.0.0.0
# 如果mysql版本是8.x,下面的这个配置可以使得密码加密方式变成5.x版本的
# 修改后重启mysql,进去mysql后重新修改用户密码
# default_authentication_plugin=mysql_native_password

[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
